body {
    background-color: black;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20%;

    color: white;
    font-size: 10vw;
}

h2 {
    text-align: center;
    color: white;
    margin: auto;
  }
    
    