body {
    background-color: black;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20%;

    color: white;
    font-size: 10vw;
}

h2 {
    text-align: center;
    color: white;
    margin: auto;
}

footer {
    margin-top: auto;
    position: fixed;
    bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: center;

    width: 50%;
}

.navbar-item {
    color: white;
    margin-right: 1rem;
}
a {
    text-decoration: none;
    padding: 5px
}

a:hover {
    background-color: white;
    color: black;
}

